#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    & > div {
        padding: 1rem;
        cursor: pointer;
        aspect-ratio: 1/1;

        & > span {
            font-size: 1.5rem;
        }

        &:nth-child(even) {
            background-color: #1a1ab2;
        }

        &:nth-child(odd) {
            background-color: #2d61fc;
        }
    }
}
