$main-background: url("./background.jpg");
$primary-colour: azure;
$secondary-colour: rgb(2, 0, 36);

* {
    font-size: 1rem;
}

@import "sass/auth";
@import "sass/main";
@import "sass/calendar";
