{% extends "base.html" %} {% block content %}
<body>
  {% include "nav.html" %}
  <h3 class="text-primary main-title">Admin</h3>
  <!-- Create User Modal -->
  <div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="AddUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="AddUserModalLabel">Add User</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="createuserform" method="POST">
            {% csrf_token %}
              <label for="name" class="form-label">Name:</label>
              <input type="text" name="name" id="name" class="form-control" required>
              <label for="email" class="form-label">Email:</label>
              <input type="email" name="email" id="email" class=" form-control" required>
            <span class="modal-footer">
              <input type="reset" value="Close" class="btn btn-secondary" data-bs-dismiss="modal">
              <input type="submit" id="submit" name="createuser" value="Create" class="btn btn-primary">
            </span>
          </form>
        </div>
      </div>
    </div>
  </div> <!--- End of Add User Modal -->

<!-- Success/ Error Message for User Creation -->
  {% if error %}
  <span class="alert alert-danger form-control" width: 80%;>{{ error }}</span>
  {% elif activation_code %}
  <span class="alert alert-success form-control"  width: 80%;>The account has been activated. The activation code is {{ activation_code }}</span>
  {% endif %}

  <div class="p-4">
    <div class="container-fluid border rounded p-4">
      <div class="pb-2">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddUserModal">
        Add User
      </button>
    </div>
      <table class="table table-primary table-bordered table-striped">
        <caption>
          Users
        </caption>
        <thead>
          <tr>
            <th>Username</th>
            <th colspan="2" class="text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %} {% if user.role != "ADMIN" %}
          <tr width="60%">
            <td>{{ user.username }}</td>
            <td width="10%">
              <div class="container-fluid">
              <a class="btn btn-primary" href="{% url 'payroll' user.id %}">View Payroll</a>
              
              </div>
            </td>
            <td width="10%">
              <form method="POST" onsubmit="return confirm('Are you sure you want to delete this user?');">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ user.id }}" />
                <input type="submit" name="deleteuser" value="Delete User" class="btn btn-danger">
              </form>
            </td>
          </tr>
          {% endif %} {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
