{% load static %}
<div id="selected-date-modal" class="modal fade modal-xl" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" action="/ticket/" method="POST">
      <div class="modal-header">
        <h5 id="selected-date-modal-title" class="modal-title"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div id="selected-date-modal-body" class="modal-body">
        {% for event in events %}
        <div data-datetime="{{ event.datetime|date:"c" }}" hidden>
          <p>{{ event.name }}, on {{ event.datetime }}. Organizer: {{ event.organizer.username }}, participants:
            {% if event.participants.all %}
{% for participant in event.participants.all %}
    {{ participant.username }}
    {% if not forloop.last %}, {% endif %}
{% endfor %}</p>
            {% else %}
              No participants</p>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div id="add-event-modal" class="modal fade modal-xl" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <form class="modal-content" action="/event/" method="POST">
      {% csrf_token %}
      <div class="modal-header">
        <h5 id="add-event-modal-title" class="modal-title"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div id="add-event-modal-body" class="modal-body">
        <div class="d-flex flex-column gap-2">
          <input name="organizer" value="{{ currentUserId }}" hidden />
          <label for="name">Name</label>
          <input name="name" id="name" type="text" />
          <label for="description">Description</label>
          <textarea
            name="description"
            id="description"
            type="text"
            rows="5"
          ></textarea>
          <label for="participants">Participants</label>
          <select id="participants" name="participants" multiple>
            {% for user in users %} {% if not user.role == "ADMIN" %}
            <option value="{{ user.id }}">{{ user.username }}</option>
            {% endif %} {% endfor %}
          </select>
          <label for="datetime">Event starts on</label>
          <input type="datetime-local" id="datetime" name="datetime" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
<button
  id="add-event-modal-button"
  type="button"
  class="btn btn-primary"
>
  Add event
</button>
<div id="calendar"></div>
<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
<script src="{% static 'calendar.js' %}"></script>
