{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
            <script src="{% static 'calendar.js' %}"></script>
            <script>
                function addList() {
                    var newspan = document.createElement("span");
                    newspan.innerHTML = '<input type="text" class="form-control modal-input" id="projectlist" name="projectlist[]">';
                    document.getElementById("todolist").appendChild(newspan);
                }
                function addGroup(){
                    var newspan=document.createElement("span");
                    newspan.innerHTML='<select class="form-select" id="userlist" name="userlist[]" aria-label="Select User"> {% for user in users %} <option value="{{user.id}}">{{ user.name }}</option>{% endfor %}</select>';
                    document.getElementById("addgroupuserlist").appendChild(newspan);
                }
                function updateGroup(){
                    var newspan = document.createElement("span");
                    newspan.innerHTML = '<select class="form-select" name="updategroup_userlist[]" aria-label="Select User"> {% for user in users %} <option value="{{user.id}}">{{ user.name }}</option>{% endfor %}</select>';
                    document.getElementById("updategroupuserlist").appendChild(newspan);
                    
                }
            </script>
        <link rel="stylesheet" href="{% static 'style.css' %}" />
        
  </head>
  <body>
    {% include "nav.html" %}

    <h2 class="text-primary main-title">Dashboard</h2>
    <div class="container-fluid main-body">
            <div class="main-div project-div">
                <h3 class="text-primary border-bottom border-primary secondary-title">Projects</h3>
                <div class="container-fluid">
                <!-- Project Modal Button -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ProjectModal">
                    Add Project
                </button>

                <!--Add Group Modal Button-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddGroupModal">
                    Add Group
                </button>

                <!-- Update Group Modal Button-->
                <button type="button" id="updategroupbutton" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UpdateGroupModal">
                    Update Group
                </button>
                
                <!-- Delete Group Modal Button-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#DeleteGroupModal">
                    Delete Group
                </button>
                </div>
                {% include 'modal.html' %}

                {% if group_users %}
                <script>
                    document.getElementById("updategroupbutton").click();
                </script>
                {% endif %}
                <div class="container-md project-list-div">
                    {% if projects %}
                   <table class="table">
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Project Description</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                        <tr>
                            {% csrf_token %}
                            <td><a href="{% url 'projects' project.id %}" class="link-body-emphasis">{{project.name}}</a></td>
                            <td>{{project.description}}</td>
                            <form method="POST">
                                {% csrf_token %}
                            <input type="hidden" id="project_id" name="project_id" value="{{project.id}}">
                            <td><button class= "btn btn-primary" id="mark_done" name="mark_done" type="submit">Mark as Done</button></td>
                            </form>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div> <!-- End of Projects -->
        </div>


            <div class="main-div">
                {% include 'calendar.html' %}
                <!-- Include the JavaScript file for the calendar functionality -->
            </div>
  </body>
</html>