{% extends "base.html" %} {% block content %}
{% load static %}
<body class="auth-body">
  <div id="logo-auth" class="container-fluid text-center mt-5">
    <img class="logo-auth navbar-brand" src="{% static 'logo-dark.png' %}">
  </div>
  <div class="auth-form">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" name="username" type="text" id="username" required />
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input
          class="form-control"
          name="password"
          type="password"
          id="password"
          required
        />
      </div>
      <div class="mb-3">
        {% if error %}
        <span class="alert alert-danger form-control">{{ error }}</span>
        {% endif %}
        <button
          type="submit"
          class="btn btn-dark"
          style="margin-top: 1rem"
          id="login"
        >
          Login
        </button>
        <a
          href="/register/"
          class="btn btn-dark"
          style="margin-top: 1rem; margin-left: 2rem"
          id="register"
        >
          Register instead
        </a>
      </div>
    </form>
  </div>
</body>
{% endblock content %}
