{% extends "base.html" %}  {% block content %}
<body>
{% include "nav.html" %}
 
  <div class="p-4">
    <div class="container-fluid border rounded">
      <table class="table text-center">
        <caption>
          Payroll
        </caption>
        <thead>
          <tr>
            <th>Date</th>
            <th>Gross income</th>
            <th>Net income</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>02/01/2024</td>
            <td>1500</td>
            <td>1200</td>
            <td><i class="bi-download"></i></td>
          </tr>
          <tr>
            <td>02/02/2024</td>
            <td>1500</td>
            <td>1200</td>
            <td><i class="bi-download"></i></td>
          </tr>
          <tr>
            <td>02/03/2024</td>
            <td>1500</td>
            <td>1200</td>
            <td><i class="bi-download"></i></td>
          </tr>
          <tr>
            <td>02/04/2024</td>
            <td>1500</td>
            <td>1200</td>
            <td><i class="bi-download"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
